header img {
    float: left;
    width: 350px;
    height: 100px;
    top: 0;
    margin-left: 10px;
}

header aside {
    float: right;
    position: relative;
    top: 0;
    margin-right: 10px;
}

#nav {
    vertical-align: bottom;
    height: 100px;
    margin-left: 10px;
}

#nav a{
    float:left;
    display:block;
    text-align:center;
    padding: 14px;
    text-decoration: none;
    font-size: 1.5em;
    position: relative;
    top: 40%;
    margin-left: 15px;
    color: black;
}

#nav a:hover{
    text-decoration:underline black;
    color: black;
}

.sidenav{
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top:0;
    right: 0;
    background-color: gold;
    overflow-x: hidden;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    transition: 0.3s;
}

.sidnav a:hover {
    text-decoration: underline black;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 38px;
    margin-left: 50px;
}